.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding-bottom: var(--space-16);
}

@media (min-width: 768px) {
  .main {
    padding-bottom: var(--space-24);
  }
}
