.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg-subtle);
}

.main {
  flex: 1;
  padding-top: var(--space-10);
  padding-bottom: var(--space-16);
}

@media (min-width: 768px) {
  .main {
    padding-top: var(--space-16);
    padding-bottom: var(--space-24);
  }
}

.main--flush {
  padding-top: 0;
  padding-bottom: 0;
}
